@model tanvirattn.Models.personal_schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>personal_schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.empid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scheduleid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduleid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SheduleEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SheduleEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.show)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.show)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonalScheduleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
