@model tanvirattn.Models.Dayoff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dayoff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.empid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.show)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.show)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dayId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dayId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
