@model tanvirattn.Models.signature

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>signature</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.empid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.punch_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.punch_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.signatureid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
