@model IEnumerable<tanvirattn.Models.signature>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.punch_time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.empid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.punch_time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.signatureid }) |
            @Html.ActionLink("Details", "Details", new { id=item.signatureid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.signatureid })
        </td>
    </tr>
}

</table>
