@model tanvirattn.Models.holiday

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>holiday</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hoilidayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoilidayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.show)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.show)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activityId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HolidayId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
