@model tanvirattn.Models.emp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>emp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesignationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.empid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
